{{define "title"}}Change Password{{end}}
{{define "main"}}
<form action="/account/password/update" method="POST">
    <div>
    <label>Current Password</label>
    <input type="text" name="currentPassword"/>
    </div>

     <div>
    <label>New Password</label>
    <input type="text" name="newPassword"/>
    </div>

     <div>
    <label>New Password Confirmation</label>
    <input type="text" name="newPasswordConfirmation"/>
    </div>
</form>
{{end}}